[worldserver]

###################################################################################################
# MASTER CLASS TRAINERS CHAT API
###################################################################################################
#    MasterClassTrainers.Enable
#        Description: Enable the module
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

MasterClassTrainers.Enable = 1

###################################################################################################
