[worldserver]

###################################################################################################
# MASTER CLASS TRAINERS CHAT API
###################################################################################################

#
#    MasterClassTrainers.Enable
#        Description: Enable the module
#        Values:      1  - (Enabled, default)
#                     0  - (Disabled)

MasterClassTrainers.Enable = 1

###################################################################################################
