[worldserver]

###################################################################################################
# MULTI CLASS
###################################################################################################

#
#    MultiClass.Enable
#        Description: Enable the module
#        Values:      1  - (Enabled, default)
#                     0  - (Disabled)

MultiClass.Enable = 1

###################################################################################################
